.header,
.footer {
    width: 100%;
    background: lightblue;
    padding: 20px 0;
}

.footer {
    height: 100px;
    margin-top: 20px;
}

.search{
  display: flex;
  padding: 10px;
  border: 1px #bbb solid;
  justify-content: right;
  align-items: right;
}

#dictionary {
    display: flex;
    flex-wrap: wrap;
}

.entry {
    box-sizing: border-box;
    width: 27%;
    padding: 10px;
    margin: 2%;
}

.word {
    font-size: 2.4rem;
    border-bottom: lightblue 4px solid;
    padding: 10px 5px;
    margin-top: 0;
}

.definition {
    margin-top: -5px;
}
