.header,
.footer {
    width: 100%;
    background: lightblue;
    padding: 20px 0;
}

.footer {
    height: 100px;
    margin-top: 20px;
}


#dictionary {
    display: flex;
    flex-wrap: wrap;
}

.entry {
    box-sizing: border-box;
    width: 27%;
    padding: 10px;
    margin: 2%;
}

.word {
    font-size: 2.4rem;
    border-bottom: lightblue 4px solid;
    padding: 10px 5px;
    margin-top: 0;
}

.definition {
    margin-top: -5px;
}


#scroll-top {
    position: fixed;
    bottom: 0;
    right: 0;
    
  }
  #scroll-top rect {
    fill: #C5E7E2;
    stroke-width: 1;
    stroke: #FFFFFF;
    cursor: pointer;
    
  }
  #scroll-top polyline {
      stroke: #FFFFFF;
      fill:none;
      stroke-width:3;
      cursor: pointer;
  }
  /* Fix for Issue #70*/
  @media(max-width:750px) {
    .entry {
        width: 40%;
    }
}
@media(max-width: 476px) {
    .entry {
        width: 100%;
    }
}